.main-content {
    display: flex;
    padding: 0% 1%;
    gap: 2%;
}
/*-------------List of videos-------------*/
.video-list-container {
    display: flex;
    justify-content: center;

}

.video-list h3 {
    padding-left: 10px;
}

.video-list {
    background-color: #313153;
    border-radius: 10px;
    max-width: fit-content;
    width: auto;
    padding: 10px;
    padding-bottom: 6%;
    display: flex;
    flex-direction: column;
    }

.scroll-list {
    max-height: 262.5px;
    overflow-y: auto;
}

.upload-video {
    /* display: flex;
    justify-content: center; */
    padding-left: 10px;
    margin-top: auto;
}

.upload-video button{
    background-color: #7C67BD;
    width: 250px;
    height: 42px;
    border-radius: 10px;
    border: 2px solid #7C67BD;
}

.video-row {
    display: flex;
    gap: 10px;
    padding: 10px;
    padding-top: 0%;
}

.video-name {
    background-color: #DEDDF3;
    color: black;
    border-radius: 10px;
    width:300px;
    min-width: none;
    padding: 10px;
}

.small-buttons {
    background-color: #DEDDF3;
    border-radius: 10px;
    padding: 10px;
    width: 70px;
    border-style: none;
    border: 2px solid #7C67BD;
}

/*-------------Preview Content-------------*/
.preview-content {
    width: 100%;
}

.preview-container {
    color: white;
}

.preview-frames {
    display: flex;
    justify-content: space-between;
    gap: 2rem;
    background-color: #313153;
    border-radius: 10px;
    padding: 1% 3% 3% 3%;
}

.preview-section {
    flex: 1;
}

.frame-box {
    height: 250px;
    border: 2px solid #DF99C5;
    border-radius: 12px;
    background-color: rgba(255,255,255,0.05);
    display: flex;
    justify-content: center;
    align-items: center;
}

/*---------------Controls---------------*/
.controls {
    background-color: #313153;
    border-radius: 10px;
    padding: 2.5% 3% 2.5% 3%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    gap: 15%;
}

input[type="color"] {
    width: 250px;
    height: 30px;
    cursor: pointer;
}

.control-group {
    display: flex;
    flex-direction: column;
    width: 250px;
    gap: 0.5rem;
}