body {
    background-color: #292B47;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    align-items: center;
    margin: 1%;
}

.salamander_image {
    border-radius: 50%; 
    width: 155px;
    z-index: 1;
}

.name {
    white-space: nowrap;
    font-family: El Messiri;
    font-weight: 400;
    font-size: 1.6rem;
    color: #DF99C5;
    background-color: rgba(124, 103, 189, 0.1);
    padding: 24px;
    padding-right: 45px;
    border-radius: 200px;
    width: 320px;
    text-align: right;
    margin-left: -50px;
    z-index: 0;
}

.pageName {
    font-family: El Messiri;
    font-weight: 400;
    font-size: 1.6rem;
    color: #DF99C5;
    background-color: rgba(124, 103, 189, 0.1);
    padding: 24px;
    padding-right: 45px;
    padding-left: 45px;
    margin-left: 5%;
    border-radius: 200px;
    width: 70%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #7d7f94;
    text-align: right;
    margin-right: 2%;
    font-size: smaller;
}

.smallButtons {
  background-color: #DF99C5;
  width: 340px;
  height: 50px;
  border-radius: 10px;
  border: 2px solid #DF99C5; /* add this */
}

.smallButtons:hover {
  border-color: #5c3e51;
}

