body {
    background-color: #292B47;
    font-family: "Inter", sans-serif;
}

header {
    display: flex;
    align-items: center;
    margin: 1%;
}

.salamander_image {
    border-radius: 50%; 
    width: 130px;
    z-index: 1;
}

.name {
    white-space: nowrap;
    font-family: El Messiri;
    font-weight: 600;
    font-size: 1.5rem;
    color: #DF99C5;
    background-color: rgba(124, 103, 189, 0.1);
    padding: 20px;
    padding-right: 45px;
    border-radius: 200px;
    width: 320px;
    text-align: right;
    margin-left: -50px;
    z-index: 0;
}

.pageName {
    font-weight: 10;
    font-size: 1.2rem;
    color: #dcbcd0;
    background-color: rgba(124, 103, 189, 0.1);
    padding: 28px;
    padding-right: 40px;
    padding-left: 40px;
    margin-left: 5%;
    border-top-left-radius: 200px;
    border-bottom-left-radius: 200px;
    border-top-right-radius: 45px;
    border-bottom-right-radius: 45px;
        
    width: 70%;
}

footer {
    position: fixed;
    bottom: 0;
    right: 0;
    color: #7d7f94;
    text-align: right;
    margin-right: 2%;
    font-size: x-small;
}

.buttons {
    display: flex;
    position: fixed;
    bottom: 0;
    margin-bottom: 2%;
    gap: 5%;
    align-items: center;
    left: 50%;
    transform: translateX(-50%);
}

.smallButtons {
  background-color: #DF99C5;
  width: 300px;
  height: 42px;
  border-radius: 10px;
  border: 2px solid #DF99C5;
}

.smallButtons:hover {
  border-color: #5c3e51;
  border-width: 3px;
}

.smallButtons:active {
  background-color: #c670ab;
}